User
.login-container {
  position: relative;
  min-height: 100vh;
  padding: 20px;
  border-radius: 50%;
}

app-zippy-logo, img { 
  position: static;
  top: 50%; 
  left: 50%;
  //transform: translateX(-50%); 
  border-radius: 50%;
  width: 100px;
}