#ion-accordion{
  background-color: rgb(160, 179, 207)!important;
  height: 100%;
}

ion-fab-button.confirm-button{
  width: 150px;
  margin-top: 150px;
  --background: #01192f;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.confirmar{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  ion-button{
    width: 200px;
  }
}

.salidas, .llegadas {
    justify-content: center;
    width: 50%;
    text-align: center;
    font-weight: 900;
    flex: 1;
  }
  .buttons.md{
    display: flex;
    width: 100%;
    height: 10px;
  }
  .header.md {
    display: flex;
    height: 3em;
    padding: 0;
  }
  .header.ios {
    display: flex;
    height: 2.2em;
    margin-right: 20em;
  }
  .buttons.ios{
    display: flex;
    width: 300%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 100px;
  }
/* Material Design styles */
.segment-button-checked.salidas.md::ng-deep{
  color: #2abb4f;
  background-color: #c0ddcbb6;
}
.segment-button-checked.llegadas.md::ng-deep{
  color: #ff5733;
  background-color: #da544540;
}
.segment-button-checked-md::ng-deep, .salidas{
  --indicator-color: #35bd57;
}
.segment-button-checked-md::ng-deep, .llegadas{
  --indicator-color: #ff5733;
}
.segment-button.md::ng-deep, .salidas {
  color: #757475;
  height: 2px;
}
.segment-button.md::ng-deep, .llegadas {
  color: #757475;
  height: 2px;
}
/* iOS styles */
.salidas.ios {
    background-color:  #c0c7c5;
    color:  #000000;
    --indicator-color : #35bd57!important;
    flex-grow: 1; 
    text-align: center; 
    font-size: 15px;
    font-weight: bold;
}

.llegadas.ios {
    background-color:  #c0c7c5;
    color:  #000000;
    --indicator-color : #ff5733!important;
    flex-grow: 1; 
    text-align: center; 
    font-size: 15px;
    font-weight: bold;
}


