.menu-hidden {
  display: none !important;
}

ion-fab-button {
    // --background: #b7f399;
    // --background-activated: #87d361;
    // --background-hover: #a3e681;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: white;
  }
  ion-fab-button.station-button{
    width: 350px;
    // --background: #e0e719;
    // --background-activated: #e0e719;
    // --background-hover: #edd988;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    // --color: black;
  }

  ion-fab-button.confirm-button{
    width: 120px;
    --background: #01192f;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .confirm-vehicle{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    ion-button{
      width: 200px;
    }
  }

  .modal{
    top:2px
  }

  .trip-container{
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 0px rgba(0,0,0,0.2);
    color:black;
    margin-bottom: 20px;
    align-items: center;
  }

  .resume{
    margin-top: 10px;
  }

  #resume{
    padding: 0px;
    padding-top: 10px;
  }

  .text-center{
    margin: 0 auto;
    text-align: center;
  }

  .d-flex{
    display: flex;
    align-items: center;


  }
  .d-flex-center{
    display: flex;
    justify-content: center;
  }

  .d-flex-end{
    display: flex;
    justify-content: flex-end;

  }
  .button{
    flex-direction: row-reverse;
    }

  .origin{
    color:red;
  }
  .destination{
    color:green;
  }


  ion-row{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .padding{
    align-items: center;
  }

  .timer-container{
    flex-direction: column;
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100px;
    background-color: aliceblue;
    border-radius: 100%;
  }

  p{
    margin: 0px 0px 0px 0px;
  }

  @media (max-width: 300px) {
    .trip-container{
      padding: 5px;
      gap: 1px;
      ion-row{
        gap: 1px;
        margin: 1px;
      }
      font-size: 12px;
    }
    .small{
      font-size: 10px;
    }
    ion-fab-button.station-button{
      width: 100px;
      font-size: 10px;
    }
    ion-fab-button.confirm-button{
      width: 86px;
      font-size: 12px;
    }
  }

  .center-title {
    text-align: right;
    
  }

  ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  }