.d-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta al tamaño que prefieras */
    height: 200px; /* Ajusta al tamaño que prefieras */
    border: 2px dashed #01192f;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
  }
  
  
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  
  h3 {
    color: #01192f;
  }